$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";

body {
  height: 100vh;
}

#contact_save {
  width: 100%;
}

.form-container {
  width: 50%;
}

@include media-breakpoint-down(lg) {
  .form-container {
    width: 75%;
  }
}
@include media-breakpoint-down(md) {
  .form-container {
    width: 100%;
  }
}
