$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";

body {
  height: 100vh;
  background-color: lightgray;
}

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
