{% extends 'base.html.twig' %} {% block title %}Contact{% endblock %} {% block
body %}
<div class="my-auto mx-auto form-container">
  <div class="p-5 border border-light shadow-lg rounded-4">
    {{ form(form, {attr: {'novalidate': 'novalidate'}}) }}
    <div class="mt-5">
      {% for message in app.flashes('success') %}
      <div class="text-bg-success p-2 rounded">
        {{ message }}
      </div>
      {% endfor %} {% for message in app.flashes('fail') %}
      <div class="text-bg-danger p-2 rounded">
        {{ message }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
